<!-- account_activation_email.html -->

{% autoescape off %}
Bonjour {{ user.username }},

<h1>Bienvenue sur Purbeurre</h1>
  <p>Veuillez cliquer sur le lien pour confirmer votre email et de completer
    votre enregistrement sur notre site.</p>

http://{{ domain }}
{% endautoescape %}