{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title=fullname %}

<section id="product-detail">
    <div class="container">
        <H2>Votre espace utilisateur</H2>
        <p></p>

        EMAIL : <H6>{{ user.email }}</H6>
          {{ fullname }}

    </div>
</section>

{% endblock content %}