{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Identification" %}

<!-- Register form -->
<section class="">
    <div class="container">
     <div role='alert' class="alert alert-danger" id="message">Infos : Prenez le temps de choisir un bon mot de passe sécurisé </div>
      <div class="row auth-form py-3 mx-1">
          <h1>Compte </h1>
          <p class="text">Veuillez saisir un mot de passe sécurisé d'au moins 8 caractères</p>

          <form action="" id="activate2" method='POST'>
              {% csrf_token %}
              <label for="id_new_password1">Nouveau mot de passe  :</label><br/>
              <input type="password" name="new_password1" required=""
              id="id_new_password1"><br/>
              <label for="id_new_password2">Confirmation :</label><br/>
              <input type="password" name="new_password2" required=""
              id="id_new_password2"><br/><br/>
              <input id="submit" class="btn btn-primary"  type="submit" value="Valider">
          </form>
      </div>
    </div>
</section>
{% endblock %}

{% block bottom_scripts %}
    <script type="text/javascript">
    function prevent(e) {
        e.preventDefault();
    }
    function handle_form() {
        pwd1 = document.querySelector('#id_new_password1');
        pwd2 = document.querySelector('#id_new_password2');
        form = document.querySelector('#activate2');
        submit = document.querySelector('#submit');
        msg = document.querySelector('#message');

        if (pwd1.value == pwd2.value) {
          msg.classList.replace('alert-danger', 'alert-success');
          msg.innerHTML = 'Les mots de passe sont identiques';
          submit.disabled = false;
        } else {
          msg.classList.replace('alert-success', 'alert-danger');
          msg.innerHTML = 'Les mots de passe sont différents';
          submit.disabled = true;
          document.querySelector('#activate2').removeEventListener('submit', prevent);
        }
        if (pwd1.value.length < 8 || pwd2.value.length < 8 ) {
            msg.classList.replace('alert-success', 'alert-danger');
            msg.innerHTML = 'Les mots de passe sont inférieurs à 8';
            submit.disabled = true;
            document.querySelector('#activate2').removeEventListener('submit', prevent);
         }
    }
    document.querySelector('#activate2').addEventListener('submit', prevent);
    document.querySelector('#id_new_password1').addEventListener('keyup', handle_form);
    document.querySelector('#id_new_password2').addEventListener('keyup', handle_form);

    </script>
{% endblock %}