{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Identification" %}

<!-- Register form -->
<section class="">
    <div class="container">
      <div class="row auth-form py-3 mx-1">
            <h1>Compte </h1>
            <p>Un email vous a été envoyé pour valider la création de votre compte sur notre site</p>
      </div>
    </div>
</section>
{% endblock %}