{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="enregistrement" %}

<!-- Register form -->
<section class="">
    <div class="container">
      <div class="row auth-form py-3 mx-1">
        <div>
          <form action="" id="signup" method='POST'>
                  {% csrf_token %}
                  Prénom :
                  <div class="form-group">
                      <input type="text" class="form-control" name="first_name" >
                  </div>
                  Email :
                  <div class="form-group">
                      <input type="email" class="form-control" name="email" >
                  </div>
                  <input class="btn btn-primary" type="submit" value="Inscription">
              </form>
        </div>
      </div>
    </div>
</section>

{% endblock content %}
