<!DOCTYPE html>
<html lang="fr">

<head>
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Pur Beurre - Du gras, oui, mais de qualité</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Google Fonts -->
  <!-- <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'> -->

  <link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet" type="text/css">


  <!-- Plugin CSS -->
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Theme CSS - Includes Bootstrap -->
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'img/logo_pur_beurre-favicon.png' %}"/>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">
        <img src="{% static 'img/logo_pur_beurre.png' %}" id="nav-brand-img" alt="Brand">
        Pur Beurre
      </a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
              <form action="{% url 'products:search' %}" method="get">
              <input name="query" class="form-control form-control-sm" id="navbar-input" type="text" placeholder="Rechercher">
            </form>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'authentication:account' %}" alt="Utilisateur"><i class="fas fa-user fa-2x"></i></a>
          </li>
          {% if user.is_active %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'products:myproducts' %}" alt="Mes produits"><i class="fas fa-carrot fa-2x"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'authentication:logout' %}" alt="Déconnexion"><i class="fas fa-sign-out-alt fa-2x"></i></a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  {% block content %}
  
  {% endblock %}

  <!-- Footer -->
  <footer class="py-3 bg-primary" id="legal-footer">
    <div class="container">
      <div class="row">
        <div class="text-center col-6"> <a href="{% url 'legal' %}">Mentions légales</a></div>
        <div class="text-center col-6">Contact</div>
      </div>
      
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>

  <!-- Custom Front js -->
  <script src="{% static 'js/front.js' %}"></script>
  {% block bottom_scripts %}

  {% endblock %}
</body>

</html>
