{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="connexion" %}

<section class="">
  <div class="container">
    <p></p>

    <div class="row h-100  auth-form py-3 mx-1">
       {% if wrong_credentials %}
              <div id="wrong-credentials" class="alert alert-danger" role="alert">
                  Informations incorrectes
              </div>
      {% endif %}

      <form method="post">
        {% csrf_token %}
        Votre email<br>
        <div class="form-group">
          <input type="text" class="form-control" name="email" placeholder="Email">
        </div>
        Votre mot de passe<br>
        <div class="form-group">
           <input type="password" class="form-control" name="password" placeholder="Mot de passe" >
        </div>
        <input class="btn btn-primary" type="submit" value="Connexion">
      </form>
      <p class="py-3"><a href="{% url 'authentication:signup' %}">Créer un compte</a>
     - <a href="{% url 'password_reset' %}" id="change_pwd_link" >Réinitialiser mon mot de passe</a></p>
    </div>
  </div>
</section>
{% endblock content %}