{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Mot de passe" %}

<!-- Register form -->
<section class="">
    <div class="container">
      <div class="row auth-form py-3 mx-1">

            <h1>Vous avez oublié votre mot de passe?</h1>
              <p>Entrer votre adresse mail pour obtenir votre mot de passe.</p>
              <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                <p><input id ="submitbtn" class="btn btn-primary"  type="submit"  id="submit"  value="Envoyer"></p>

              </form>
      </div>
    </div>
</section>

{% endblock content %}