{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Mot de passe" %}

<!-- Register form -->
<section class="">
    <div class="container">
      <div class="row auth-form py-3 mx-1">

            <h1 id="title_email">Envoi email</h1>
              <p>Vous allez recevoir un message contenant un lien pour la modification.</p>
          <p></p>
          <p> Consulter votre boite emails et finalisez la procédure.</p>

      </div>
    </div>
</section>

{% endblock content %}