{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Mot de passe" %}

<!-- Register form -->
<section class="">
    <div class="container">
      <div class="row auth-form py-3 mx-1">

            <h1  id="ReinitPassword">Reinitialiser votre mot de passe</h1>
            {% if validlink %}
                <p>Veuillez entrer votre nouveau mot de passe :</p>
                <form method="post">
                  {{ form.as_p }}
                  {% csrf_token %}
                  <p><input id="submit"  class="btn btn-primary"  type="submit" value="Changer mon mot de passe" /></p>
                </form>
            {% else %}
                <p id="invalidLink">le lien pour la réinitialisation du mot de passe est invalide, il est possible qu il a deja été utilisé.
                    Relancer la procedure de reinitialisation du mot de passe.</p>
            {% endif %}

      </div>
    </div>
</section>

{% endblock content %}