{% extends "base.html" %}

{% block content %}

{% include "base_title_section.html" with title="Mot de passe" %}

<!-- Register form -->
    <section class="">
        <div class="container">
          <div class="row auth-form py-3 mx-1">
      <h1>Mot de passe</h1>
      <p>Votre mot de passe a bien été réinitialisé avec succès. Vous pouvez vous <a href="{% url "login" %}">logguer maintenant</a></p>
          </div>
        </div>
    </section>
{% endblock %}